@let isLoggedIn = isLoggedIn$ | async;
@let loggedInUser = loggedInUser$ | async;

<div class="navbar-container">
  <div class="navigation-container">
  <a routerLink="/" class="navbar-logo">
    <img src="brainboost.png" alt="logo" class="logo-image" />
  </a>
    @if (isLoggedIn) {
      <a routerLink="/flashcard/learn" class="nav-link">Learn</a>
      <a routerLink="/flashcard/overview" class="nav-link">Flashcards</a>
      <a routerLink="/flashcard/create" class="nav-link">+ Create a Flashcard</a>
      <a routerLink="/set/list" class="nav-link">Decks</a>
      <a routerLink="/set/create" class="nav-link">+ Create a Set</a>
    }
  </div>

  <div class="user-actions-container">

      @if (!isLoggedIn) {
        <a routerLink="/login" class="login-link">Login</a>
      } @else {
        <!-- Maybe add profile link later
        <a routerLink="/profile" class="profile-link">Profile</a>
        -->
        <span class="welcome-message">Welcome, {{ loggedInUser?.firstName }}!</span>
        <button class="logout-button" (click)="logout$()">Logout</button>
      }
  </div>
</div>
