@let flashCards = flashCards$ | async;

<div class="flashcard-learning-container">
@if (!flashCards || flashCards.length === 0) {
  <!-- Maybe loading animation? -->
} @else {

  <!-- Display single flashcard with navigation buttons -->
    <!-- Need to be moved to its own component later -->
  @if (flashCards) {

      <app-flashcard-card
        [flashCard]="flashCards[activeFlashCardIndex]"
      />
  <div class="navigation-buttons">
      @if (activeFlashCardIndex > 0) {
        <button (click)="previousFlashCard()">Previous</button>
      }

      @if (activeFlashCardIndex + 1 < flashCards.length) {
        <button (click)="nextFlashCard()">Next</button>
      }
    </div>
  }
}
</div>
