.flashcard-overview-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .flashcard-item {

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;

    align-items: center;
    justify-items: center;

    width: 400px;


    .flashcard-delete-button {
      align-self: center;
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      color: #fff;
      background-color: #dc3545;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #c82333;
      }
    }
  }

}
