:host {
  .register-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f3e5f5;

    .register-button {
      background-color: #8e24aa;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #6a1b9a;
      }
    }
    .register-header {
      font-size: 32px;
      font-weight: bold;
      color: #6a1b9a;
      margin-bottom: 20px;
    }

    .input-container {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin-bottom: 20px;

      label {
        font-size: 14px;
        color: #4a148c;
        margin-bottom: 5px;
      }

      input {
        padding: 10px;
        border: 1px solid #ce93d8;
        border-radius: 4px;
        font-size: 16px;
      }
    }
  }
}
