:host {
  .welcome-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #e0f7fa;


    .welcome-header {
      font-size: 36px;
      font-weight: bold;
      color: #00796b;
      margin-bottom: 20px;

    }

    .welcome-description {

      font-size: 18px;
      color: #004d40;
      text-align: center;
      max-width: 600px;
      margin-bottom: 30px;

    }
  }
}
