:host {

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f5f5f5;

    .register-prompt {
      margin-top: 15px;
      font-size: 14px;

      a {
        color: #007BFF;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .login-button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      margin-top: 10px;


    }

    .input-container {
      margin-bottom: 15px;
      width: 300px;

      .input-label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .input-field {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }
    }
  }

}
