<div class="flashcard-create-container">
<div class="input-container">
  <label class="input-label">Title: </label>
<input
type="text"
placeholder="Title"
[formField]="flashCardCreateForm.title">
</div>

<div class="input-container">
  <label class="input-label">Question: </label>
<textarea
  placeholder="Question"
[formField]="flashCardCreateForm.question">
</textarea>
</div>

<div class="input-container">
  <label class="input-label">Answer: </label>
  <textarea
    placeholder="Answer"
  [formField]="flashCardCreateForm.answer"></textarea>
</div>

<button class="create-flashcard-button" (click)="createFlashCard$()">
  Create Flash Card
</button>
</div>
