:host {

  .flashcard-create-container {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;


    .input-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      textarea {
        width: 100%;
        min-height: 100px;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      label {
        font-weight: bold;
        margin-bottom: 0.25rem;
      }


    }
    .create-flashcard-button {
      align-self: center;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: #fff;
      background-color: #007bff;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
